.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-self: center;
}

.align-end {
  align-self: flex-end;
}

.justify-center {
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.shrink {
  flex-shrink: 1;
}

.column-full,
.column-half,
.column-fourth {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .column-half {
    flex-basis: 50%;
  }

  .column-fourth {
    flex-basis: 25%;
  }
}
