.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 30px;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  flex-grow: 1;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    flex-basis: 50%;
  }
}
